@font-face {
  font-family: "Alef";
  src: url("../font/Alef-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Regular.ttf");
}

.EventPlanning {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: white;
  font-family: "Alef";
  font-weight: 700;
  background: linear-gradient(180deg, #8e54e9 0%, #4776e6 100%);
  /* justify-content: center; */
}



.options {
  margin: 0 auto;
  height: 80%;
  min-height: 200px;
}

.option-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-weight: 200;
  overflow-y: auto;
  height: auto;
  max-height: 80%;
  align-items: center;
}

.addButton {
  margin: 0 auto;
  background: linear-gradient(
    95.14deg,
    rgba(0, 159, 255, 0.65) 26.78%,
    rgba(236, 47, 75, 0.65) 82.67%
  );
  padding: 20px 120px;
  margin-top: 15px;
  width: auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
}

.cancelButton {
  margin: 30px auto 25px auto;
  padding: 20px 190px;
  background: #fff;
  color: #000;
  width: auto;
}

.backButton {
  margin: 30px auto 25px auto;
  padding: 20px 120px;
  background: #fff;
  color: #000;
}

.nextButton,
.prevButton {
  margin: 30px auto 0 auto;
  padding: 20px 190px;
  background: #2574df;
  color: white;
  width: auto;
}

.saveButton {
  margin: 30px auto 0 auto;
  padding: 20px 200px;
  background: #2574df;
  color: white;
  width: auto;
}

.finishMessage {
  margin: 0 auto;
  font-size: 2em;
  margin: 100px auto;
}

.backToMenuButton {
  margin: 30px auto 0 auto;
  padding: 20px 120px;
  background: #fff;
  color: #000;
  width: auto;
}

@media (max-width: 600px), (max-height: 600px) {
  .cancelButton {
    margin-top: 15px;
    padding: 15px 140px;
  }
  .addButton {
    padding: 15px 100px;
  }
  .backToMenuButton {
    padding: 15px 100px;
  }
  .finishMessage {
    margin: 0px auto;
  }
  .nextButton,
  .prevButton {
    /* need fixing*/
    margin-top: 15px;
    padding: 15px 140px;
  }
  .saveButton {
    padding: 15px 150px;
  }
  .options {
    min-height: 270px;
  }
  .option-container {
    max-height: 70%;
  }
  .EventPlanning:only-child {
    justify-content: center;
  }
  /* .option is for .option component, .options is a div containing option-container and addButton */
}

@media (max-width: 400px) and (max-height: 400px) {
  .option {
    padding: 20px 100px;
  }
  .cancelButton {
    padding: 15px 120px;
  }
  .addButton {
    padding: 15px 80px;
  }
  .backToMenuButton {
    padding: 15px 80px;
  }
  .nextButton,
  .prevButton {
    padding: 15px 120px;
  }
  .saveButton {
    padding: 15px 130px;
  }
}

@media (max-width: 320px) {
  .option {
    padding: 15px 80px;
    max-width: 200px;
  }
  .cancelButton {
    padding: 15px 100px;
  }
  .addButton {
    padding: 15px 60px;
  }
  .backToMenuButton {
    padding: 15px 60px;
  }
  .nextButton,
  .prevButton {
    padding: 15px 100px;
  }
  .saveButton {
    padding: 15px 110px;
  }
}

/* @media (max-width: 300px) and (max-height: 500px) {
  .options {
    min-height: 230px;
  }
  .option-container {
    max-height: 130px;
  }
} */

/* iphone 5/SE or smaller*/
/* @media (max-width: 500px) and (max-height: 600px) {
  .options {
    min-height: 150px;
  }
  .option-container {
    max-height: 180px;
  }
} */

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}