.landing {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: white;
    background: linear-gradient(180deg, #8e54e9 0%, #4776e6 100%);
}

.landing h1{
    font-family: 'Alef';
}

.landing .btn-container{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 40px;
    flex: auto;
}

.landing .btn-container button{
    padding: 1em;
    width: 70vw;
    max-width: 480px;
}