button {
    background-color: rgba(0, 159, 255, 1);
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    font-family: "Inter";
    font-size: 20px;
    padding: 20px 102px;
    box-sizing: border-box;
    border: 1px solid white;
}