.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 6;
}

.answerBox {
    margin: 30px auto 0 auto;
    width: 80%;
    height: 47px;
    border-radius: 20px;
    border: 0;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 4px 1px rgb(0 0 0 / 50%);
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
}
.content {
    display: flex;
    flex-direction: column;
}
.modalContainer {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background: white;
    border-radius: 38px;
    padding: 20px;
    width: 500px;
    height: 300px;
    z-index: 7;
}

.saveBtn {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    display: flex;
    justify-content: space-between;
}

.header > h1 {
    margin: 30px auto;
}

.closeBtn {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .modalContainer {
        width: 75%;
        height: 70%;
    }
    .saveBtn {
        padding: 5% 30%;
    }
}
    
