.option {
    position: relative;
    display: flex;
    width: fit-content;
    max-width: 700px;
    background-color: rgba(0, 159, 255, 0.65);
    border: none;
    border-radius: 38px;
    color: #fff;
    font-family: "Inter";
    font-size: 20px;
    padding: 20px 140px;
    margin-top: 15px;
    box-sizing: border-box;
    border: 1px solid white;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
}

label {
    margin-right: auto;
    margin-left: auto;
    flex-shrink: 0; /* prevent label from shrinking beyond its fixed width */
    text-align: center;
}


img {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .option {
        padding: 20px 120px;
        width: 320px;
    }
}

/* slide keyframe undone*/

#rollText{
    animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        /* -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%); */
        transform: translateX(0%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}