.result-box{
    font-family: "Alef";
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    
    overflow-y: scroll;
    max-width: 1020px;
    
}

.result-box .text-disp-box{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

@media (max-width: 750px) {
  .result-box {
    display: flex;
    flex-direction: column;
  }
}
